.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  transition: width 0.8s cubic-bezier(0.4, 0, 0.2, 1), margin-left 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  &--menu-open {
    width: 80%;
    margin-left: 20%;
  }

  &__content {
    width: 100%;
    min-height: 100vh;
  }
} 