.calendar {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 60px);
	position: relative;

	&__body {
		display: flex;
		overflow: auto;
		height: 100%;
		padding-left: 8px;
	}

	&__create-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 50px;
		min-height: 50px;
		border-radius: 50%;
		border: none;
		position: absolute;
		left: 10px;
		cursor: pointer;
		top: 15px;
		background-color: rgba(255, 255, 255, 0.502);
		box-shadow:
			0px 1px 2px 0px rgba(60, 64, 67, 0.3),
			0px 1px 3px 1px rgba(60, 64, 67, 0.15);
		z-index: 1000;

		&:hover {
			transition:
				border 280ms cubic-bezier(0.4, 0, 0.2, 1),
				box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
			box-shadow:
				0px 4px 4px 0px rgba(60, 64, 67, 0.3),
				0px 8px 12px 6px rgba(60, 64, 67, 0.15);
			background-color: #f6fafe;
		}

		&:active {
			background-color: rgb(227, 227, 227);
		}

		&:disabled {
			opacity: 0.6;
			box-shadow:
				0px 1px 2px 0px rgba(60, 64, 67, 0.3),
				0px 1px 3px 1px rgba(60, 64, 67, 0.15);
			pointer-events: none;
		}
	}
}
